<div class="grid grid-cols-2 items-start">
    <div class="flex items-center">
        <img src="https://cdn1-production-images-kly.akamaized.net/XV_Ee6PqvNojm8ZQ0jDlmYgar9Y=/1200x1200/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/1248978/original/038280400_1464594800-Maling.jpg" alt="Gambar" class="w-20 h-20 object-cover rounded-full">
    </div>
    <div class="flex flex-col justify-between h-full">
        <div>
            <p class="text-lg font-semibold">Judul Kasus</p>
        </div>

        <div class="flex justify-between items-end gap-3">
            <p class="text-sm text-gray-500">Jenis Kasus</p>
            <p class="text-sm text-gray-700">Lokasi Kasus</p>
        </div>
    </div>
</div>
