<nav class="flex bg-transparent sticky top-0">
    <div class="w-full flex justify-center items-center md:bg-[#F3F7F4] p-5 ml-8 md:ml-0 overflow-auto whitespace-nowrap md:gap-5 gap-3">
        <a href="/home" class="text-[#081D59] text-md ">Home</a>
        <a href="/uud-1945" class="text-[#081D59] text-md ">UUD 1945</a>
        <a href="/kontak" class="text-[#081D59] text-md ">Kontak</a>
    </div>
    <div class="w-full flex justify-end pr-10 p-5">
        <a href="/back" class="bg-[#081D59] text-white px-4 py-2 rounded-[16px]">Back</a>
    </div>
</nav>
