<footer class="flex items-center justify-center border-t">
    <div class="w-full p-5 md:bg-[#F3F7F4]">
        <p class="text-center text-[#565764] text-sm">Copyright © 2024</p>
    </div>
    <div class="w-full p-5 flex justify-center gap-2">
        <a href="/your-link-1" class="text-center text-[#565764] text-sm">Privacy Policy</a>
        <a href="/your-link-1" class="text-center text-[#565764] text-sm">Terms & Conditions</a>
        <a href="/your-link-2" class="text-center text-[#565764] text-sm">Security</a>
    </div>
</footer>
